<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="校园零售, 购物, S2B2C, DSHOP">

    <!-- 引入图标 -->
    <link rel="icon" th:href="@{/static/favicon.ico}"  type="image/x-icon">
    <!-- 引入初始化样式 -->
    <link rel="stylesheet" th:href="@{/static/css/common/base.css}">
    <!-- 引入公共样式 -->
    <link rel="stylesheet" th:href="@{/static/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/static/css/common/shoper/addProduct.css}">

    <title>增加商品</title>

</head>
<body>
<!-- 快捷导航模块 -->
<div th:insert="~{index::shortcut}"></div>

    <div class="info w">
        <h3 class="title">添加商品</h3>
        <div class="body">
            <form th:action="@{/merchant/addProduct/submit}" method="post" enctype="multipart/form-data">
                <div class="product-category">
                    <span>商品种类</span>
                    <select name="category" id="category">
                        <option selected="selected">--请选择--</option>
                        <option th:each="category : ${categoryMap}" th:value="${category.id}" >[[${category.name}]]</option>
                    </select>
                </div>
                <div class="product-name">
                    <span>商品名称</span>
                    <input type="text" name="name">
                </div>
    
                <div class="product-desc">
                    <span>商品描述</span>
                    <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
                </div>
                <div class="product-img">
                    <span>商品图片</span>
                   <input type="file" name="img">
                </div>
                <div class="product-stock">
                    <span>商品库存</span>
                    <input type="number" name="stock">
                </div>
                <div class="product-price">
                    <span>商品价格（单位：元）</span>
                    <input type="number" name="price" step="0.01">
                </div>
                <input hidden name="token" id="token">
                <button type="submit" id="submit">提交</button>
            </form>
        </div>
        
    </div>

    <!-- footer 模块 -->
    <footer class="footer">
        <div class="w">
            <div class="mod_help">
                <dl>

                    <dt>配送方式</dt>
                    <dd><a href="javascript:void(0);">上门自提</a></dd>
                    <dd><a href="javascript:void(0);">联系卖家</a></dd>
                </dl>
                <dl>
                    <dt>售后服务</dt>
                    <dd><a href="javascript:void(0);">退货</a></dd>
                    <dd><a href="javascript:void(0);">取消订单</a></dd>
                    <dd><a href="javascript:void(0);">联系卖家</a></dd>
                </dl>

                <dl>
                    <dt>帮助中心</dt>
                    <dd><a href="javascript:void(0);">联系客服</a></dd>
                </dl>
                
            </div>

            <div class="mod_copyright">
                © 2023 DShop校园零售
            </div>
        </div>
    </footer>
</body>

<script th:src="@{/static/js/common/jquery-3.6.4.js}"></script>
<script th:src="@{/static/js/common/common.js}"></script>
</html>