<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>忘记密码</title>
	<!-- 引入css 和图标图的css  引入才可以生效 -->
	<link rel="icon" th:href="@{/static/favicon.ico}" type="image/x-icon" />
	<link rel="stylesheet" th:href="@{/static/css/common/user/forget.css}">
</head>
<body>
	<div class="container">
		<h1>忘记密码</h1>
		<hr/>
		<input type="text" id="email" placeholder="邮箱">
		<input type="password" id="password" placeholder="密码">

		<div class="verify">
			<input type="text" id="verify" placeholder="验证码">
			<button type="button" id="get_code">获取验证码</button>
		</div>

		<button type="button" id="submit">提交</button>
	</div>
</body>
<script th:src="@{/static/js/userInfo/forget.js}"></script>
<script th:src="@{/static/js/jquery-3.6.4.js}"></script>
<script th:src="@{/static/js/tip.js}"></script>